.homeHeading {
    text-align: center;
    font: 500 2rem Roboto;
    color: rgba(0, 0, 0, 0.678);
    padding: 1vmax;
    margin: 2vmax auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    width: 25vmax;
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.banner {
    margin-top: 3.9vmax;
}